/PsoptIntegrator/bin/
/PsoptIntegrator/obj/
/PsoptIntegrator.sln
/PsoptIntegrator.v12.suo
/PsoptIntegrator/FirstKspProject.csproj
/PsoptIntegrator/Properties/AssemblyInfo.cs
/PsoptIntegrator/PsoptIntegrator.csproj
