/PsoptIntegrator/bin/
/PsoptIntegrator/obj/
/PsoptIntegrator.sln
/PsoptIntegrator.v12.suo
/PsoptIntegrator/FirstKspProject.csproj
/PsoptIntegrator/Properties/AssemblyInfo.cs
/PsoptIntegrator/PsoptIntegrator.csproj
/data/graphics.jpg
/data/blender-model/*.blend1
/data/blender-model/*.blend2
/data/blender-model/graphics.jpg
/PsoptIntegrator/PsoptIntegrator.csproj.user
/data/blender-model/*.dae
